# Index

2. 자료형
    - 숫자형
        - 숫자형
            - 정수형
            - 실수형
            - 8진수와 16진수
        - 숫자형을 활용하기 위한 연산자
            - 사칙연산
            - **
            - %
            - //
    - 문자열 자료형
        - 여러 줄인 문자열을 변수에 대입하고 싶을 때
            - 이스케이프 코드
            - '''
            - """
        - 문자열 연산
            - 더해서 연결하기(concatenation)
            - 문자열 곱하기
            - 문자열 곱하기 응용
        - 문자열 인덱싱과 슬라이싱
            - 문자열 인덱싱
            - 문자열 슬라이싱
        - 문자열 포매팅
        - 문자열 관련 함수들
            - count
            - find
            - index
            - join
            - upper
            - lower
            - lstrip
            - rstrip
            - strip
            - replace
            - split
    - 리스트 자료형
        - 리스트 인덱싱
        - 리스트 슬라이싱
        - 리스트 연산자
            - 리스트 더하기
            - 리스트 반복하기
            - 리스트 + 문자열
        - 리스트 수정, 변경, 삭제
            - 하나의 값 수정
            - 연속된 범위의 값 수정
            - [] 리스트 요소 삭제
            - del 함수 리스트 요소 삭제
        - 리스트 관련 함수들
            - append
            - sort
            - reverse
            - index
            - insert
            - remove
            - pop
            - count
            - extend
        - 리스트 요소 제거하는 3가지 방법
            - remove
            - pop
            - del
    - 튜플 자료형
        - 튜플 인덱싱
        - 튜플 슬라이싱
        - 튜플 더하기
        - 튜플 곱하기
    - 딕셔너리 자료형
        - 딕셔너리 쌍 추가, 삭제
        - 딕셔너리를 사용하는 방법
        - 딕셔너리 만들 때 주의할 사항
            - 동일한 key 추가
            - key에 리스트는 사용불가능
        - 딕셔너리 관련 함수들
            - keys
            - values
            - items
            - clear
            - get
            - in
    - 집합 자료형
        - 집합 추가
        - 집합 특징
            - 중복 허용 X
            - Unordered(인덱싱, 슬라이싱 불가)
        - 집합 자료형 활용 방법
            - 교집합
            - 합집합
            - 차집합
        - 집합 자료형 관련 함수들
            - add
            - update
            - remove
            - defference_update
    - 불 자료형
        - 참과 거짓 구분하는 기준
        - 불 연산
    - 자료형의 값을 저장하는 공간, 변수
        - 변수 만들기
        - 변수란?
        - 리스트를 변수에 넣고 복사
            - [:]
            - copy
        - 변수를 만드는 여러 가지 방법

어떤 프로그래밍 언어든 "그 언어의 자료형을 알고 이해할 수 있다면 이미 그 언어의 절반을 터득한 것이나 다름없다"는 말이 있다.

자료형이란 프로그래밍을 할 때 쓰이는 숫자, 문자열 등 자료 형태로 사용하는 모든 것을 뜻한다. 프로그램의 기본이자 핵심 단위가 바로 자료형이다. 계산 프로그램을 만들려면 어떤 것을 계산할지부터 알아야 하고, 데이터베이스 프로그램을 만들려면 어떤 자료를 저장할지부터 알아야하는 것처럼 기본 중의 기본이라고 할 수 있다. 따라서 자료형을 충분히 이해하지 않고 프로그래밍을 시작하려는 것은 기초 공사가 마무리되지 않은 상태에서 빌딩을 세우는 것과 같다.

# 1. 숫자형

## 숫자형

### 정수형

In [1]:
a = 123
a = -178
a = 0

### 실수형

일반적인 실수형의 소수점 표현방식은 다음과 같다.

In [2]:
a = 1.2
a = -3.45

아래의 방식은 "컴퓨터식 지수 표현 방식"으로 파이썬에서는 4.24e10 또는 4.24E10처럼 표현한다(e와 E 둘 중 어느 것을 사용해도 무방하다). 여기서 4.24E10은 4.24∗10^10, 4.24e-10은 4.24∗10^−10을 의미한다.

In [3]:
a = 4.24E10
a = 4.24e-10

### 8진수와 16진수

8진수(Octal)를 만들기 위해서는 숫자가 0o 또는 0O(숫자 0 + 알파벳 소문자 o 또는 대문자 O)로 시작하면 된다.

In [4]:
a = 0o177

16진수(Hexadecimal)를 만들기 위해서는 0x로 시작하면 된다.

In [5]:
a = 0x8ff
b = 0xABC

## 숫자형을 활용하기 위한 연산자

### 사칙연산

In [6]:
a = 3
b = 4

In [7]:
a + b

7

In [8]:
a * b

12

In [9]:
a / b

0.75

### x의 y제곱을 나타내는 ** 연산자

이 연산자는 x ** y처럼 사용되었을 때 x의 y제곱(x^y)값을 리턴한다.

In [10]:
a = 3
b = 4

In [11]:
a ** b

81

### 나눗셈 후 나머지를 반환하는 % 연산자

In [12]:
7 % 3

1

In [13]:
3 % 7

3

### 나눗셈 후 소수점 아랫자리를 버리는 // 연산자

- 양수의 경우

In [14]:
7 / 4

1.75

In [15]:
7 // 4

1

- 음수의 경우

In [16]:
-7 / 4

-1.75

In [17]:
-7 // 4

-2

이렇게 되는 이유는 // 연산자는 나눗셈의 결과에서 무조건 소수점을 버리는것이 아니라 나눗셈의 결과값보다 작은 정수 중, 가장 큰 정수를 리턴하기 때문이다.

---

# 2. 문자열 자료형

문자열(String)이란 문자, 단어 등으로 구성된 문자들의 집합을 의미한다.

- "Life is too short, You need Python"
- "a"
- "123"

위의 문자열 예문을 보면 모두 큰따옴표(" ")로 둘러싸여 있다. 따옴표로 둘러싸여 있으면 모두 문자열이라고 보면 된다.

## 여러 줄인 문자열을 변수에 대입하고 싶을 때

Life is too short

You need python

### 줄을 바꾸기 위한 이스케이프 코드 \n 삽입하기

In [18]:
multiline = "Life is too short\nYou nedd python"
print(multiline)

Life is too short
You nedd python

### 연속된 작은따옴표 3개(''') 또는 큰따옴표 3개(""") 이용

In [19]:
multiline1='''
Life is too short
You need python
'''

In [20]:
print(multiline1)

Life is too short
You need python

In [21]:
multiline2="""
Life is too short
You need python
"""

In [22]:
print(multiline2)

Life is too short
You need python

두 경우 모두 결과는 동일하다. 위 예에서도 확인할 수 있듯이 문자열이 여러 줄인 경우 이스케이프 코드를 쓰는 것보다 따옴표를 연속해서 쓰는 것이 훨씬 깔끔하다.

#### 이스케이프 코드란?

이스케이프 코드란 프로그래밍할 때 사용할 수 있도록 미리 정의해 둔 "문자 조합"이다. 주로 출력물을 보기 좋게 정렬하는 용도로 이용된다. 몇 가지 이스케이프 코드를 정리하면 다음과 같다.

- \n : 개행
- \t : 수평 탭
- \\\ : 문자 "\"
- \' : 단일 인용부호(')
- \" : 이중 인용부호(")

In [23]:
multiline = "Life is too short\tYou nedd python"
print(multiline)

Life is too short	You nedd python

In [24]:
multiline = "Life is too short\\You nedd python"
print(multiline)

Life is too short\You nedd python

In [25]:
multiline = "Life is too short\'You nedd python"
print(multiline)

Life is too short'You nedd python

In [26]:
multiline = "Life is too short\"You nedd python"
print(multiline)

Life is too short"You nedd python

## 문자열 연산하기

### 문자열 더해서 연결하기(Concatenation)

In [27]:
head = "Python"
tail = " is fun!"

In [28]:
print(head + tail)

Python is fun!

### 문자열 곱하기

In [29]:
a = "python"

In [30]:
print(a*2)

pythonpython

### 문자열 곱하기 응용

In [31]:
print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

## 문자열 인덱싱과 슬라이싱

인덱싱(Indexing)이란 무엇인가를 "가리킨다"는 의미이고, 슬라이싱(Slicing)은 무엇인가를 "잘라낸다"는 의미이다.

### 문자열 인덱싱이란?

In [32]:
a = "Life is too short, You need Python"

In [33]:
print(a[3])

e

"파이썬은 0부터 숫자를 센다."

0부터 숫자를 센다는 것이 처음에는 익숙하지 않겠지만 계속 사용하다 보면 자연스러워질 것이다. 위의 예에서 볼 수 있듯이 a[번호]는 문자열 내 특정한 값을 뽑아내는 역할을 한다. 이러한 것을 인덱싱이라고 한다.

### 문자열 인덱싱 활용하기

In [34]:
a = "Life is too short, You need Python"

In [35]:
print(a[0])
print(a[12])
print(a[-1])

L
s
n

앞의 a[0]과 a[12]는 쉽게 이해할 수 있는데 마지막의 a[-1]이 뜻하는 것은 뭘까? 눈치 빠른 독자는 이미 알아챘겠지만 문자열을 뒤에서부터 읽기 위해서 마이너스(-) 기호를 붙이는 것이다. 즉 a[-1]은 뒤에서부터 세어 첫 번째가 되는 문자를 말한다. a는 "Life is too short, You needPython"이라는 문장이므로 뒤에서부터 첫 번째 문자는 가장 마지막 문자인 'n'이다.

In [36]:
print(a[-0])
print(a[-2])
print(a[-5])

L
o
y

### 문자열 슬라이싱이란?

In [37]:
a = "Life is too short, You need Python"

In [38]:
b = a[0] + a[1] + a[2] + a[3]
print(b)

Life

더 좋은 방법이 있다.

In [39]:
print(a[0:4])

Life

In [40]:
print(a[0:3])

Lif

이렇게 되는 이유는 간단하다. a[시작 번호:끝 번호]를 지정하면 끝 번호에 해당하는 것은 포함되지 않는다. a[0:3]을 수식으로 나타내면 다음과 같다.
- 0 <= a < 3

In [41]:
print(a[0:5])
print(a[0:2])

Life
Li

In [42]:
print(a[19:])
print(a[:17])

You need Python
Life is too short

In [43]:
print(a[:])

Life is too short, You need Python

In [44]:
print(a[19:-7])

You need

슬라이싱에서도 인덱싱과 마찬가지로 마이너스(-) 기호를 사용할 수 있다. 위 소스 코드에서 a[19:-7]이 뜻하는 것은 a[19]에서부터 a[-8]까지를 말한다. 이 역시 a[-7]은 포함하지 않는다.

### "Pithon"이라는 문자열을 "Python"으로 바꾸려면?

In [45]:
a = "Pithon"

In [46]:
print(a[1])

i

In [47]:
a[1] = 'y'

TypeError: 'str' object does not support item assignment

당연히 에러가 발생한다. 왜냐하면 문자열의 요소값은 바꿀 수 있는 값이 아니기 때문이다(**문자열, 튜플 등 의 자료형은 그 요소값을 변경할 수 없다.** 그래서 immutable한 자료형이라고도 부른다). 하지만 앞서 살펴본 슬라이싱 기법을 이용하면 "Pithon"이라는 문자열을 "Python"으로 바꿀 수 있는 방법이 있다.

In [48]:
print(a[:1])
print(a[2:])

P
thon

In [49]:
print(a[:1]+'y'+a[2:])

Python

## 문자열 포매팅

"현재 온도는 18도입니다."

시간이 지나서 20도가 되면 아래와 같은 문장을 출력한다.

"현재 온도는 20도입니다"

위의 두 문자열은 모두 같은데 20이라는 숫자와 18이라는 숫자만 다르다. 이렇게 문자열 내의 특정한 값을 바꿔야 할 경우가 있을 때 이것을 가능하게 해주는 것이 바로 문자열 포매팅 기법이다.

### 문자열 포매팅 따라 하기

#### 숫자 바로 대입

In [50]:
print("I eat %d apples." % 3)

I eat 3 apples.

위 예제의 결과값을 보면 알겠지만 위의 예제는 문자열 내에 3이라는 정수를 삽입하는 방법을 보여 준다. 문자열 안에서 숫자를 넣고 싶은 자리에 %d라는 문자를 넣어 주고, 삽입할 숫자인 3은 가장 뒤에 있는 % 문자 다음에 써넣었다. 여기서 %d는 문자열 포맷 코드라고 부른다.

#### 문자열 바로 대입

In [51]:
print("I eat %s apples." % "five")

I eat five apples.

문자열을 대입할 때는 앞에서 배웠던 것처럼 큰따옴표나 작은따옴표를 반드시 써주어야 한다.

#### 숫자 값을 나타내는 변수로 대입

In [52]:
num = 3

In [53]:
print("I eat %d apples." % num)

I eat 3 apples.

#### 2개 이상의 값 넣기

In [54]:
num = 10
day = "three"

In [55]:
print("I ate %d apples. so I was sick for %s days." % (num, day))

I ate 10 apples. so I was sick for three days.

### 문자열 포맷 코드

- %s : 문자열(String)
- %c : 문자 1개(Character)
- %d : 정수(Integer)
- %f : 부동소수(Floating-point)
- %o : 8진수
- %x : 16진수
- %% : Literal %(문자 % 자체)

 여기서 %s는 어떤 형태의 값이든 변환해 넣을 수 있다.

In [56]:
print("I have %s apples" % 3)

I have 3 apples

In [57]:
print("rate is %s" % 3.234)

rate is 3.234

3을 문자열 안에 삽입하려면 %d를 사용하고, 3.234를 삽입하려면 %f를 사용해야 한다. 하지만 %s를 사용하면 이런 것을 생각하지 않아도 된다. 왜냐하면 %s는 자동으로 % 뒤에 있는 값을 문자열로 바꾸기 때문이다.

- 포매팅 연산자 %d와 %를 같이 쓸 때는 %%를 쓴다

In [58]:
print("Error is %d%%." % 98)

Error is 98%.

### 포맷 코드와 숫자 함께 사용하기

#### 정렬과 공백

In [59]:
print("%10s" % "hi")

        hi

앞의 예문에서 "%10s"의 의미는 전체 길이가 10개인 문자열 공간에서 hi를 오른쪽으로 정렬하고 그 앞의 나머지는 공백으로 남겨 두라는 의미이다.

그렇다면 반대쪽인 왼쪽 정렬은 "%-10s"이다.

In [60]:
print("%-10sjane." % 'hi')

hi        jane.

#### 소수점 표현하기

In [61]:
print("%0.4f" % 3.42134234)

3.4213

In [62]:
print("%10.4f" % 3.42134234)

    3.4213

위의 예는 3.42134234라는 숫자를 소수점 네 번째 자리까지만 표시하고 전체 길이가 10개인 문자열 공간에서 오른쪽으로 정렬하는 예이다.

### format 함수를 이용한 포매팅

In [63]:
print("I eat {0} apples".format(3))

I eat 3 apples

In [64]:
print("I eat {0} apples".format("five"))

I eat five apples

In [65]:
number = 3
print("I eat {0} apples".format(number))

I eat 3 apples

In [66]:
number = 10
day = "three"
print("I ate {0} apples. so I was sick for {1} days."
      .format(number, day))

I ate 10 apples. so I was sick for three days.

In [67]:
print("I ate {number} apples. so I was sick for {day} days."
      .format(number=10, day=3))

I ate 10 apples. so I was sick for 3 days.

위 예에서 볼 수 있듯이 {0}, {1}과 같은 인덱스 항목 대신 더 편리한 {name} 형태를 이용하는 방법도 있다. {name} 형태를 이용할 경우 format 함수의 입력값에는 반드시 name=value와 같은 형태의 입력값이 있어야만 한다.

In [68]:
print("I ate {0} apples. so I was sick for {day} days."
      .format(10, day=3))

I ate 10 apples. so I was sick for 3 days.

In [69]:
print("{0:<10}".format("hi"))

hi

In [70]:
print("{0:>10}".format("hi"))

        hi

In [71]:
print("{0:^10}".format("hi"))

    hi

In [72]:
print("{0:=^10}".format("hi"))

====hi====

In [73]:
print("{0:!<10}".format("hi"))

hi!!!!!!!!

정렬 시 공백 문자 대신에 지정한 문자 값으로 채워 넣는 것도 가능하다. 채워 넣을 문자 값은 정렬 문자인 <, >, ^ 바로 앞에 넣어야 한다.

### 문자열 관련 함수들

#### 문자 개수 세기(count)

In [74]:
a = "hobby"
a.count('b')

2

#### 위치 알려주기1(find)

In [75]:
a = "Python is the best choice"

In [76]:
a.find('b')

14

In [77]:
a.find('k')

-1

문자열 중 문자 b가 처음으로 나온 위치를 반환한다. 만약 찾는 문자나 문자열이 존재하지 않는다면 -1을 반환한다.

#### 위치 알려주기2(index)

In [78]:
a = "Life is too short"

In [79]:
a.index('t')

8

In [80]:
a.index('k')

ValueError: substring not found

앞의 find 함수와 다른 점은 문자열 안에 존재하지 않는 문자를 찾으면 오류가 발생한다는 점이다.

#### 문자열 삽입(join)

In [82]:
a = ","

In [83]:
a.join('abcd')

'a,b,c,d'

#### 소문자를 대문자로 바꾸기(upper)

In [84]:
a = "hi"

In [85]:
a.upper()

'HI'

#### 대문자를 소문자로 바꾸기(lower)

In [86]:
a = "HI"

In [87]:
a.lower()

'hi'

#### 왼쪽 공백 지우기(lstrip)

In [88]:
a = " hi "

In [89]:
a.lstrip()

'hi '

#### 오른쪽 공백 지우기(rstrip)

In [90]:
a = " hi "

In [91]:
a.rstrip()

' hi'

#### 양쪽 공백 지우기(strip)

In [92]:
a = " hi "

In [93]:
a.strip()

'hi'

#### 문자열 바꾸기(replace)

In [94]:
a = "Life is too short"

In [95]:
a.replace("Life", "Your leg")

'Your leg is too short'

#### 문자열 나누기(split)

In [96]:
a.split()

['Life', 'is', 'too', 'short']

In [97]:
a = "a:b:c:d"

In [98]:
a.split(':')

['a', 'b', 'c', 'd']

---

# 3. 리스트 자료형

In [99]:
a = [ ]
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

비어 있는 리스트는 a = list()로 생성할 수도 있다.

## 리스트의 인덱싱과 슬라이싱

### 리스트의 인덱싱

In [100]:
a = [1, 2, 3]

In [101]:
print(a)

[1, 2, 3]

In [102]:
print(a[0])

1

In [103]:
print(a[0] + a[2])

4

In [104]:
print(a[-1])

3

In [105]:
a = [1, 2, 3, ['a', 'b', 'c']]

In [106]:
print(a[0])
print(a[-1])
print(a[3])

1
['a', 'b', 'c']
['a', 'b', 'c']

In [107]:
print(a[-1][0])

a

### 리스트의 슬라이싱

In [108]:
a = [1, 2, 3, 4, 5]

In [109]:
print(a[0:2])

[1, 2]

In [110]:
b = a[:2]
c = a[2:]

In [111]:
print(b)
print(c)

[1, 2]
[3, 4, 5]

In [112]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]

In [113]:
print(a[2:5])

[3, ['a', 'b', 'c'], 4]

In [114]:
print(a[3][:2])

['a', 'b']

### 리스트 연산자

#### 리스트 더하기(+)

In [115]:
a = [1, 2, 3]
b = [4, 5, 6]

In [116]:
print(a + b)

[1, 2, 3, 4, 5, 6]

#### 리스트 반복하기(*)

In [117]:
print(a * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

#### 리스트(str 변경) + 문자열

In [118]:
a = [1, 2, 3]

In [119]:
print(a[2] + "hi")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [120]:
print(str(a[2]) + "hi")

3hi

## 리스트의 수정, 변경과 삭제

### 리스트에서 하나의 값 수정하기

In [121]:
a = [1, 2, 3]
a[2] = 4

In [122]:
print(a)

[1, 2, 4]

### 리스트에서 연속된 범위의 값 수정하기

In [123]:
print(a[1:2])

[2]

In [124]:
a[1:2] = ['a', 'b', 'c']

In [125]:
print(a)

[1, 'a', 'b', 'c', 4]

#### 주의할 점

In [126]:
a[1] = ['a', 'b', 'c']

In [127]:
print(a)

[1, ['a', 'b', 'c'], 'b', 'c', 4]

a[1] = ['a', 'b', 'c']는 리스트 a의 두 번째 요소를 ['a', 'b','c']로 바꾼다는 말이고 a[1:2]는 a[1]에서 a[2] 사이의 리스트를 ['a', 'b', 'c']로 바꾼다는 말이다. 따라서 a[1] = ['a', 'b', 'c']로 수정하게 되면 위와는 달리 리스트 a가 [1, ['a', 'b', 'c'], 3]라는 값으로 변하게 된다.

### [ ] 사용해 리스트 요소 삭제하기

In [128]:
print(a)

[1, ['a', 'b', 'c'], 'b', 'c', 4]

In [129]:
a[1:3] = [ ]

In [130]:
print(a)

[1, 'c', 4]

### del 함수 사용해 리스트 요소 삭제하기

In [131]:
del a[1]

In [132]:
print(a)

[1, 4]

In [133]:
del a[1:2]

In [134]:
print(a)

[1]

del 함수는 파이썬이 자체적으로 가지고 있는 삭제 함수이다. 

- del 객체 

이렇게 사용하면 된다. (객체란 파이썬에서 사용되는 모든 자료형을 말한다.)

## 리스트 관련 함수들

### 리스트에 요소 추가(append)

In [135]:
a = [1, 2, 3]

In [136]:
a.append(4)

In [137]:
print(a)

[1, 2, 3, 4]

In [138]:
a.append([5,6])

In [139]:
print(a)

[1, 2, 3, 4, [5, 6]]

### 리스트 정렬(sort)

In [140]:
a = [1, 4, 3, 2]

In [141]:
a.sort()

In [142]:
print(a)

[1, 2, 3, 4]

In [143]:
a = ['a', 'c', 'b']

In [144]:
a.sort()

In [145]:
print(a)

['a', 'b', 'c']

### 리스트 뒤집기(reverse)

In [146]:
a = ['a', 'c', 'b']

In [147]:
a.reverse()

In [148]:
print(a)

['b', 'c', 'a']

### 위치 반환(index)

In [149]:
a = [1, 2, 3]

In [150]:
a.index(3)

2

In [151]:
a.index(0)

ValueError: 0 is not in list

### 리스트에 요소 삽입(insert)

insert(a, b)는 리스트의 a번째 위치에 b를 삽입하는 함수이다.

In [152]:
a = [1, 2, 3]

In [153]:
a.insert(0, 4)

In [154]:
print(a)

[4, 1, 2, 3]

In [155]:
a.insert(3, 5)

In [156]:
print(a)

[4, 1, 2, 5, 3]

In [157]:
a.sort()
print(a)

[1, 2, 3, 4, 5]

### 리스트 요소 제거(remove)

remove(x)는 리스트에서 첫 번째로 나오는 x를 삭제하는 함수이다.

In [158]:
a = [1, 2, 3, 1, 2, 3]

In [159]:
a.remove(3)

In [160]:
print(a)

[1, 2, 1, 2, 3]

remove(x)는 리스트에서 첫 번째로 나오는 x를 삭제하는 함수이다.

### 리스트 요소 끄집어내기(pop)

pop()은 리스트의 맨 마지막 요소를 돌려 주고 그 요소는 삭제하는 함수이다.

In [161]:
a = [1, 2, 3]

In [162]:
a.pop()

3

In [163]:
print(a)

[1, 2]

In [164]:
a.insert(2, 3)

In [165]:
print(a)

[1, 2, 3]

pop(x)도 할 수 있다.

In [166]:
a.pop(1)

2

In [167]:
print(a)

[1, 3]

### 리스트에 포함된 요소 x의 개수 세기(count)

In [168]:
a = [1, 2, 3, 1]

In [169]:
a.count(1)

2

### 리스트 확장(extend)

extend(x)에서 x에는 리스트만 올 수 있으며 원래의 a 리스트에 x 리스트를 더하게 된다.

In [170]:
a = [1, 2 ,3]

In [171]:
a.extend([4,5])

In [172]:
print(a)

[1, 2, 3, 4, 5]

a.extend([4,5])는 a += [4,5]와 동일하다.

### 리스트의 요소를 제거하는 3가지 방법

- 리스트의 remove 함수 이용하기
- 리스트의 pop 함수 이용하기
- del을 이용하기

1. 리스트의 remove 함수 이용하기

In [173]:
a = [1, 2, 3, 'a', 'b', 'c']
a.remove('a')

In [174]:
print(a)

[1, 2, 3, 'b', 'c']

a.remove('a')는 a 리스트의 'a'라는 요소값을 삭제한다. 즉, a.remove(x)의 x에는 인덱스가 아닌 요소값 만을 사용할 수 있다.

만약 리스트의 요소를 인덱스로 삭제하려고 하면 다음과 같은 오류가 발생한다.

In [175]:
a.remove(4)

ValueError: list.remove(x): x not in list

2. 리스트의 pop 함수 이용하기

pop은 remove와 반대로 요소값으로 삭제할 수는 없고 인덱스로만 삭제가 가능하다. 즉, a.pop(x)의 x에는 a리스트의 인덱스만 가능하다.

In [176]:
a = [1, 2, 3, 'a', 'b', 'c']

In [177]:
a.pop(4)

'b'

In [178]:
print(a)

[1, 2, 3, 'a', 'c']

a.pop(4)는 a리스트의 5번째 요소를 삭제한다. 단, pop함수는 삭제된 요소를 리턴받는 특징이 있다.

만약 pop 함수 사용시 인덱스가 아닌 요소값을 이용한다면 다음과 같은 오류를 만나게 될 것이다.

In [179]:
a.pop('b')

TypeError: 'str' object cannot be interpreted as an integer

3. del을 이용하기

del은 리스트의 요소를 삭제하는 함수이므로 당연히 인덱스만 가능하다.

In [180]:
a = [1, 2, 3, 'a', 'b', 'c']

In [181]:
del a[4]

In [182]:
print(a)

[1, 2, 3, 'a', 'c']

즉, 결론은 다음과 같다.

- a.remove(x) - x는 a리스트의 요소값
- a.pop(x) - x는 a리스트의 인덱스
- del a[x] - x는 a리스트의 인덱스

---

# 4. 튜플 자료형

튜플(tuple)은 몇 가지 점을 제외하곤 리스트와 거의 비슷하며 리스트와 다른 점은 다음과 같다.
- 리스트는 [과 ]으로 둘러싸지만 튜플은 (과 )으로 둘러싼다.
- 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.

In [183]:
t1 = ()
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))

리스트와 모습은 거의 비슷하지만 튜플에서는 리스트와 다른 2가지 차이점을 찾아볼 수 있다. t2 = (1,)처럼 단지 1개의 요소만을 가질 때는 요소 뒤에 콤마(,)를 반드시 붙여야 한다는 것과 t4 = 1, 2, 3처럼 괄호()를 생략해도 무방하다는 점이다.

In [184]:
print(t2)

(1,)

In [185]:
t6 = (1)
print(t6)

1

위와 같이 튜플 형태로 나오지 않는다.

튜플과 리스트의 가장 큰 차이는 값을 변화시킬 수 있는가 없는가이다. 즉, 리스트의 항목값은 변화가 가능하고 튜플의 항목값은 변화가 불가능하다. 따라서 프로그램이 실행되는 동안 그 값이 항상 변하지 않기를 바란다거나 값이 바뀔까 걱정하고싶지 않다면 주저하지 말고 튜플을 사용해야 한다. 이와는 반대로 수시로 그 값을 변화시켜야할 경우라면 리스트를 사용해야 한다. 실제 프로그램에서는 값이 변경되는 형태의 변수가 훨씬 많기 때문에 평균적으로 튜플보다는 리스트를 더 많이 사용하게 된다.

### 튜플 인덱싱

In [186]:
t1 = (1, 2, 'a', 'b')

In [187]:
print(t1[0])

1

### 튜플 슬라이싱

In [188]:
print(t1[1:3])

(2, 'a')

### 튜플 더하기

In [189]:
t2 = (3, 4)

In [190]:
print(t1 + t2)

(1, 2, 'a', 'b', 3, 4)

### 튜플 곱하기

In [191]:
print(t2 * 3)

(3, 4, 3, 4, 3, 4)

---

# 5. 딕셔너리 자료형

파이썬은 대응 관계를 나타낼 수 있는 자료형을 가지고 있다. 이를 연관 배열(Associative array) 또는 해시(Hash)라고 한다.

파이썬에서는 이러한 자료형을 딕셔너리(Dictionary)라고 하는데, 단어 그대로 해석하면 사전이라는 뜻이다. 즉, people이라는 단어에 "사람", baseball이라는 단어에 "야구"라는 뜻이 부합되듯이 딕셔너리는 Key와 Value라는 것을 한 쌍으로 갖는 자료형이다.

딕셔너리는 리스트나 튜플처럼 순차적으로(sequential) 해당 요소값을 구하지 않고 Key를 통해 Value를 얻는다. 이것이 바로 딕셔너리의 가장 큰 특징이다. baseball이라는 단어의 뜻을 찾기 위해 사전의 내용을 순차적으로 모두 검색하는 것이 아니라 baseball이라는 단어가 있는 곳만 펼쳐 보는 것이다.

Key에는 변하지 않는 값을 사용하고, Value에는 변하는 값과 변하지 않는 값 모두 사용할 수 있다.

In [192]:
dic = {'name':'Alex', 'phone':'01012345678', 'birth': '0419'}

In [193]:
print(dic)

{'name': 'Alex', 'phone': '01012345678', 'birth': '0419'}

이렇게도 가능하다.

In [194]:
a = {1:'hi'}

In [195]:
a = {'a': [1,2,3]}

### 딕셔너리 쌍 추가, 삭제하기

#### 딕셔너리 쌍 추가하기

In [196]:
a = {1:'a'}

In [197]:
a[2] = 'b'

In [198]:
print(a)

{1: 'a', 2: 'b'}

In [199]:
a['name'] = 'alex'

In [200]:
a[3] = [1,2,3]

In [201]:
print(a)

{1: 'a', 2: 'b', 'name': 'alex', 3: [1, 2, 3]}

#### 딕셔너리 요소 삭제하기

In [202]:
del a[1]

In [203]:
print(a)

{2: 'b', 'name': 'alex', 3: [1, 2, 3]}

### 딕셔너리를 사용하는 방법

In [204]:
grade = {'alex': 10, 'julliet': 99}

In [205]:
print(grade['alex'])

10

In [206]:
print(grade['julliet'])

99

In [207]:
a = {1:'a', 2:'b'}

In [208]:
print(a)

{1: 'a', 2: 'b'}

In [209]:
print(a[1])

a

In [210]:
a = {'a':1, 'b':2}

In [211]:
print(a['a'])

1

#### 딕셔너리 만들 때 주의할 사항

1. 동일한 Key 추가

In [212]:
a = {1:'a', 1:'b'}

In [213]:
print(a)

{1: 'b'}

딕셔너리에서 Key는 고유한 값이므로 중복되는 Key 값을 설정해 놓으면 하나를 제외한 나머지 것들이 모두 무시된다는 점을 주의해야 한다. 위와 같이 동일한 Key가 2개 존재할 경우 1:'a'라는 쌍이 무시된다.

2. Key에 리스트는 사용불가능

또 한 가지 주의해야 할 사항은 Key에 리스트는 쓸 수 없다는 것이다. 하지만 튜플은 Key로 쓸 수 있다. 딕셔너리의 Key로 쓸 수 있느냐 없느냐는 Key가 변하는 값인지 변하지 않는 값인지에 달려 있다. 리스트는 그 값이 변할 수 있기 때문에 Key로 쓸 수 없는 것이다.

In [214]:
a = {[1,2]:'hi'}

TypeError: unhashable type: 'list'

In [215]:
a = {(1,2):'hi'}

In [216]:
print(a[(1,2)])

hi

### 딕셔너리 관련 함수들

#### Key 리스트 만들기(keys)

In [217]:
a = {'name':'alex', 'phone':'01012345678', 'birth':'0419'}

In [218]:
print(a.keys())

dict_keys(['name', 'phone', 'birth'])

In [219]:
print(list(a.keys()))

['name', 'phone', 'birth']

이렇게도 볼 수 있다.

In [220]:
for k in a.keys():
    print(k)

name
phone
birth

#### Value 리스트 만들기(values)

In [221]:
print(a.values())

dict_values(['alex', '01012345678', '0419'])

In [222]:
print(list(a.values()))

['alex', '01012345678', '0419']

#### Key, Value 쌍 얻기(items)

In [223]:
print(a.items())

dict_items([('name', 'alex'), ('phone', '01012345678'), ('birth', '0419')])

In [224]:
print(list(a.items()))

[('name', 'alex'), ('phone', '01012345678'), ('birth', '0419')]

#### Key: Value 쌍 모두 지우기(clear)

In [225]:
a.clear()

In [226]:
print(a)

{}

In [227]:
print(list(a.keys()))

[]

In [228]:
print(list(a.values()))

[]

In [229]:
print(list(a.items()))

[]

#### Key로 Value얻기(get)

In [230]:
a = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}

In [231]:
print(a.get('name'))

pey

get(x) 함수는 x라는 key에 대응되는 value를 돌려준다. 앞서 살펴보았듯이 a.get('name')은 a['name']을 사용했을 때와 동일한 결과값을 돌려받는다.

In [232]:
print(a['name'])

pey

a['nokey']처럼 a 딕셔너리에 없는 키로 값을 가져오려고 할 경우 a['nokey']는 Key 오류를 발생시키고 a.get('nokey')는 None을 리턴한다는 차이가 있다.

In [233]:
print(a.get('nokey'))

None

딕셔너리 안에 찾으려는 key 값이 없을 경우 미리 정해 둔 디폴트 값을 대신 가져오게 하고 싶을 때에는 get(x, '디폴트 값')을 사용하면 편리하다.

In [234]:
print(a.get('foo', 'bar'))

bar

a 딕셔너리에는 'foo'에 해당하는 값이 없다. 따라서 디폴트 값인 'bar'를 리턴한다.

#### 해당 Key가 딕셔너리 안에 있는지 조사하기(in)

In [235]:
print('name' in a)

True

In [236]:
print('email' in a)

False

---

# 6. 집합 자료형

In [237]:
s1 = set([1,2,3])

In [238]:
print(s1)

{1, 2, 3}

In [239]:
s2 = set('Hello')

In [240]:
print(s2)

{'l', 'e', 'H', 'o'}

set에는 다음과 같은 2가지 큰 특징이 있다.
- 중복을 허용하지 않는다.
- 순서가 없다(Unordered).

리스트나 튜플은 순서가 있기(ordered) 때문에 인덱싱을 통해 자료형의 값을 얻을 수 있지만 set 자료형은 순서가 없기(unordered) 때문에 인덱싱으로 값을 얻을 수 없다. 이는 마치 앞서 살펴본 딕셔너리와 비슷하다. 딕셔너리 역시 순서가 없는 자료형이라 인덱싱을 지원하지 않는다. 만약 set 자료형에 저장된 값을 인덱싱으로 접근하려면 다음과 같이 리스트나 튜플로 변환한 후 해야 한다.

In [241]:
s1 = set([1,2,3])

In [242]:
li = list(s1)

In [243]:
print(li)

[1, 2, 3]

In [244]:
print(li[0])

1

In [245]:
t1 = tuple(s1)

In [246]:
print(t1)

(1, 2, 3)

In [247]:
print(t1[0])

1

s2 = set('Hello')도 적용시켜보자.

In [248]:
li = list(s2)

In [249]:
t1 = tuple(s2)

In [250]:
print(li)
print(t1)

['l', 'e', 'H', 'o']
('l', 'e', 'H', 'o')

In [251]:
print(li[0])
print(t1[1])

l
e

### 집합 자료형 활용하는 방법

set 자료형이 정말 유용하게 사용되는 경우는 다음과 같이 교집합, 합집합, 차집합을 구할 때이다.

In [252]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

#### 교집합

In [253]:
print(s1 & s2)

{4, 5, 6}

또는 다음과 같이 intersection 함수를 사용해도 동일한 결과를 리턴한다.

In [254]:
print(s1.intersection(s2))

{4, 5, 6}

s2.intersection(s1)을 사용해도 결과는 같다.

#### 합집합

In [255]:
print(s1 | s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [256]:
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

#### 차집합

In [257]:
print(s1 - s2)
print(s2 - s1)

{1, 2, 3}
{8, 9, 7}

In [258]:
print(s1.difference(s2))
print(s2.difference(s1))

{1, 2, 3}
{8, 9, 7}

### 집합 자료형 관련 함수들

#### 값 1개 추가하기(add)

In [259]:
s1 = set([1,2,3])

In [260]:
s1.add(4)

In [261]:
print(s1)

{1, 2, 3, 4}

#### 값 여러 개 추가하기(update)

In [262]:
s1 = set([1,2,3])

In [263]:
s1.update([4,5,6])

In [264]:
print(s1)

{1, 2, 3, 4, 5, 6}

#### 특정 값 제거하기(remove)

In [265]:
s1 = set([1,2,3])

In [266]:
s1.remove(2)

In [267]:
print(s1)

{1, 3}

#### 값 여러 개 제거하기(defference_update)

In [268]:
s1 = set([1,2,3])

In [269]:
s1.difference_update([1,2])

In [270]:
print(s1)

{3}

---

# 7. 불 자료형

불(bool) 자료형이란 참(True)과 거짓(False)을 나타내는 자료형이다.

불 자료형은 다음의 2가지 값만을 가질 수 있다.

- True - 참
- False - 거짓

True나 False는 파이썬의 예약어로 true, false와 같이 사용하지 말고 첫 문자를 항상 대문자로 사용해야 한다.

In [271]:
a = True
b = False

In [272]:
print(1 == 1)
print(2 > 1)
print(2 < 1)

True
True
False

자료형의 참과 거짓을 구분하는 기준은 다음과 같다.

- 참
    - "python"
    - [1, 2, 3]
    - 1
    

- 거짓
    - ""
    - []
    - ()
    - {}
    - 0	
    - None

문자열, 리스트, 튜플, 딕셔너리 등의 값이 비어 있으면(" ", [ ], ( ), { }) 거짓이 된다. 당연히 비어있지 않으면 참이 된다. 숫자에서는 그 값이 0일 때 거짓이 된다.

그래서 보통 이렇게 쓰일 수 있다.

In [273]:
a = [1,2,3,4]

In [274]:
while a:
    print(a.pop())

4
3
2
1

### 불 연산

In [275]:
print(bool('python'))

True

In [276]:
print(bool(''))

False

In [277]:
print(bool([]))

False

In [278]:
print(bool(1))
print(bool(0))

True
False

---

# 8. 자료형의 값을 저장하는 공간, 변수

### 변수는 어떻게 만들까?

In [279]:
a = 1
b = "python"
c = [1,2,3]
d = (1,2,3)
e = {1:2, 'b':3}
f = set([1,2,3])
g = True

In [280]:
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

1
python
[1, 2, 3]
(1, 2, 3)
{1: 2, 'b': 3}
{1, 2, 3}
True

C 언어나 Java처럼 변수의 자료형을 함께 쓸 필요는 없다. 파이썬은 변수에 저장된 값을 스스로 판단하여 자료형을 알아낸다.

- 변수명 = 변수에 저장할 값

### 변수란?

파이썬에서 사용하는 변수는 객체를 가리키는 것이라고도 말할 수 있다. 객체란 우리가 지금껏 보아 왔던 자료형과 같은 것을 의미하는 말이다.

In [281]:
a = [1,2,3]

만약 위의 코드처럼 a = [1, 2, 3]이라고 하면 [1, 2, 3] 이라는 값을 가지는 리스트 자료형(객체)이 자동으로 메모리에 생성되고 변수 a는 [1, 2, 3] 이라는 리스트가 저장된 메모리의 주소를 가리키게 된다.

a변수가 가리키는 메모리의 주소는 다음과 같이 확인할 수 있다.

In [282]:
print(id(a))

4597375432

id 함수는 변수가 가리키고 있는 객체의 주소를 리턴해 주는 파이썬 내장함수이다. 즉, a가 가리키고 있는 [1, 2, 3] 이라는 리스트의 주소는 4303029896 임을 알 수 있다.

### 리스트를 변수에 넣고 복사하고자 할 때

In [283]:
a = [1,2,3]

In [284]:
b = a

b변수에 a변수를 대입하면 어떻게 될까? b와 a는 같은걸까? 아니면 다른 걸까? 결론부터 얘기하면 b는 a와 완전히 동일하다고 할 수 있다. 다만 [1, 2, 3] 이라는 리스트를 참조하는 변수의 갯수가 a변수 1개에서 b변수가 추가되어 2개가 되었다는 차이가 있을 뿐이다.

In [285]:
print(id(a))
print(id(b))

4597247240
4597247240

In [286]:
print(a is b)

True

In [287]:
a[1] = 4

In [288]:
print(a)

[1, 4, 3]

In [289]:
print(b)

[1, 4, 3]

a 리스트의 두번째 요소를 4라는 값으로 바꾸었더니 a만 바뀌는 것이 아니라 b도 똑같이 바뀌었다. 그 이유는 앞서 살펴본 것처럼 a, b 모두 동일한 리스트를 가리키고 있기 때문이다.

그렇다면 b 변수를 생성할 때 a와 같은 값을 가지도록 복사해 넣으면서 a가 가리키는 리스트와는 다른 리스트를 가리키게 하는 방법은 없을까? 다음의 2가지 방법이 있다.

#### [:] 이용

첫 번째 방법으로는 아래와 같이 리스트 전체를 가리키는 [:]을 이용해서 복사하는 것이다.

In [290]:
a = [1,2,3]

In [291]:
b = a[:]

In [292]:
a[1] = 4

In [293]:
print(a)

[1, 4, 3]

In [294]:
print(b)

[1, 2, 3]

#### copy 모듈 이용

In [295]:
from copy import copy

In [296]:
b = copy(a)

In [297]:
print(b is a)

False

### 변수를 만드는 여러 가지 방법

In [298]:
a, b = ('python', 'list')

In [299]:
print(a, b)

python list

In [300]:
(c, d) = 'python', 'list'

In [301]:
print(c, d)

python list

In [302]:
[e, f] = 'python', 'list'

In [303]:
print(e, f)

python list

In [304]:
a = b = 'python'

In [305]:
print(a, b)

python python

두 변수의 값을 아주 간단히 바꿀 수도 있다.

In [306]:
a = 3
b = 5

In [307]:
a, b = b, a

In [308]:
print(a, b)

5 3